.navbar-light{
  background-color: #013668;
}
.navbar-brand{color: white;
}

.navbar-light .navbar-toggler{
  background-color: #fff !important;
  border-color: transparent !important;
}

.nav-link{
  color: white !important;
}
